@media (min-width: 992px) and (max-width: 1199px) {
	.form-bottom form .form-links { width: 190px; }
	
	.always-beautiful-box-text-left { padding-right: 0; }
	.always-beautiful-box-text-left:first-child { margin-top: 0; }
	
	.how-it-works-box-icon .how-it-works-step { left: 75px; }
}

@media (min-width: 768px) and (max-width: 991px) {
	.section-description p { padding: 0; }
	
	.form-bottom form .form-links { display: block; width: auto; margin-top: 15px; }
	
	.how-it-works-box-icon .how-it-works-step { left: 40px; }
}

@media (max-width: 767px) {
	.navbar { padding-top: 0; }
	.navbar.navbar-no-bg { background: #333; background: rgba(51, 51, 51, 0.9); }
	.navbar-brand { margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-inverse ul.navbar-nav li a:hover, .navbar-inverse ul.navbar-nav li a:focus { padding-bottom: 10px; border-bottom: 1px solid transparent; }
	
	.navbar-inverse ul.navbar-nav li a.btn-link-2 { margin-left: 15px; margin-right: 15px; }
	.navbar-inverse ul.navbar-nav li a.btn-link-2:hover, 
	.navbar-inverse ul.navbar-nav li a.btn-link-2:focus, 
	.navbar-inverse ul.navbar-nav li a.btn-link-2:active, 
	.navbar-inverse ul.navbar-nav li a.btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); border: 1px solid #fff; color: #fff; }
	
	.inner-bg { padding: 60px 0 0px 0; }
	.top-content .text { padding-top: 0; padding-bottom: 60px; }
	.top-content .top-big-link { margin-top: 25px; }
	.top-content .top-big-link a.btn { margin-top: 10px; }
	.form-bottom form .form-links { display: block; width: auto; margin-top: 15px; }
	
	.section-description p { padding: 0; }
	
	.how-it-works-box-icon .how-it-works-step { left: 20px; }
    
    .pricing-box { padding-bottom: 50px; }
    .pricing-box:last-child { padding-bottom: 0; }
}

@media (min-width: 480px) {
	.row-xs-height {
		display: table;
		table-layout: fixed;
		height: 100%;
		width: 100%;
	}

	.col-xs-height {
		display: table-cell;
		float: none;
		height: 100%;
	}
}

@media (min-width: 768px) {
	.row-sm-height {
		display: table;
		table-layout: fixed;
		height: 100%;
		width: 100%;
	}

	.col-sm-height {
		display: table-cell;
		float: none;
		height: 100%;
	}
}

@media (min-width: 992px) {
	.row-md-height {
		display: table;
		table-layout: fixed;
		height: 100%;
		width: 100%;
	}

	.col-md-height {
		display: table-cell;
		float: none;
		height: 100%;
	}
}

@media (min-width: 1200px) {
	.row-lg-height {
		display: table;
		table-layout: fixed;
		height: 100%;
		width: 100%;
	}

	.col-lg-height {
		display: table-cell;
		float: none;
		height: 100%;
	}
}

@media (max-width: 415px) {
	h1, h2 { font-size: 32px; }
}