body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #888;
	line-height: 30px;
	text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #32a658;
	text-decoration: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
	font-weight: 100;
	color: #555;
	line-height: 50px;
}

h3 {
	font-size: 22px;
	font-weight: 300;
	color: #555;
	line-height: 30px;
}

img { max-width: 100%; }

.medium-paragraph {
	font-size: 18px;
	line-height: 32px;
}

.colored-text { color: #32a658; }

::-moz-selection { background: #32a658; color: #fff; text-shadow: none; }
::selection { background: #32a658; color: #fff; text-shadow: none; }

@-o-keyframes spin { 
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}

@-ms-keyframes spin { 
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}

@-moz-keyframes spin { 
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin { 
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@keyframes spin { 
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #000;
	overflow: hidden !important;
	z-index: 99999;
}

.loader-img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 52px;
	height: 52px;
	margin: auto;
}

.loader-img > img {
	-o-animation: spin .6s linear infinite;
	-ms-animation: spin .6s linear infinite;
	-moz-animation: spin .6s linear infinite;
	-webkit-animation: spin .6s linear infinite;
	animation: spin .6s linear infinite;
}

.section-container {
	margin: 0 auto;
	padding-bottom: 80px;
}

.section-container-gray-bg {
	background: #f2f2f2;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 {
	color: #fff;
}

.section-container-image-bg .divider-1 span {
	background: #fff;
}

.section-description {
	margin-top: 60px;
	padding-bottom: 10px;
}

.section-description p {
	margin-top: 20px;
	padding: 0 120px;
}
.section-container-image-bg .section-description p {
	opacity: 0.8;
}

.section-bottom-button {
	padding-top: 60px;
}

.btn-link-1 {
	position: relative;
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #32a658;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	color: #fff;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	color: #fff;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }

.divider-1 span {
	display: inline-block;
	width: 200px;
	height: 1px;
	background: #ddd;
}

.navbar {
	padding-top: 30px;
	background: #333;
	background: rgba(51, 51, 51, 0.3);
	border: 0;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.navbar.navbar-no-bg { background: none; }

ul.navbar-nav {
	font-size: 16px;
	color: #fff;
}

.navbar-inverse ul.navbar-nav li a { color: #fff; opacity: 0.8; border-bottom: 1px solid transparent; }
.navbar-inverse ul.navbar-nav li a:hover { color: #fff; opacity: 1; border-bottom: 1px solid #fff; }
.navbar-inverse ul.navbar-nav li a:focus { color: #fff; outline: 0; opacity: 1; border-bottom: 1px solid #fff; }

.navbar-inverse ul.navbar-nav li a.btn-link-2 {
	height: auto;
	margin: 4px 0 0 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #fff;
}

.navbar-brand {
	width: 121px;
	background: url(../img/logo.png) left center no-repeat;
	text-indent: -99999px;
}

.inner-bg {
	padding: 70px 0 10px 0;
}

.top-content .text {
	padding-top: 120px;
	padding-bottom: 220px;
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .top-big-link {
	margin-top: 35px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 0px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.35);
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #fff; }
.form-top-left p { opacity: 0.8; color: #fff; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 70px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form .form-links {
	display: block;
	text-align: center;
	vertical-align: top;
	color: #fff;
	opacity: 0.8;
	font-size: 12px;
}

.form-bottom form .form-links a { color: #fff; }
.form-bottom form .form-links a:hover, 
.form-bottom form .form-links a:focus { color: #fff; border-bottom: 1px dotted #fff; }

.funders {
	padding-bottom: 30px;
}

.funders-box {
	padding-top: 15px;
	padding-bottom: 15px;
}

.funders-box img {
	max-width: 50%;
}

.funders-box a {
	color: #555;
}

.funders-box-gray {
	background: #f2f2f2;
}

.funders-box .funders-box-icon {
	font-size: 80px;
	color: #32a658;
	line-height: 80px;
}

.funders-box h3 {
	margin-top: 15px;
}

.documents {
	padding-bottom: 30px;
}

.documents-box {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: left;
}

.documents-box img {
	max-width: 50%;
}

.documents-box a {
	color: #555;
}

.documents-box-gray {
	background: #f2f2f2;
}

.documents-box .documents-box-icon {
	font-size: 80px;
	color: #32a658;
	line-height: 80px;
	display: inline-block;
}

.documents-box h3 {
	display: inline-block;
	line-height: 85px;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: top;
	overflow: hidden;
}

.how-to-start {
	padding-bottom: 30px;
}

.how-to-start-container {
	position: relative;
}

.how-to-start-box {
	padding: 15px 50px;
}

.how-to-start-box .how-to-start-box-icon {
	position: relative;
	font-size: 80px;
	line-height: 80px;
	opacity: 0.8;
}

.how-to-start-box-icon .how-to-start-step {
	position: absolute;
	top: 0;
	left: 75px;
	width: 32px;
	height: 32px;
	border: 1px solid #fff;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
	font-size: 24px;
	color: #fff;
	line-height: 32px;
}

.how-to-start-box h3 {
	margin-top: 15px;
}

.how-to-start-box p {
	opacity: 0.8;
}

.events-container {
	padding-bottom: 0;
}

.events {
	padding-bottom: 30px;
}

.events-box {
	padding-top: 30px;
	padding-bottom: 20px;
}

.events-box-inner {
	background: #f2f2f2;
	border-radius: 20px;
	height: 100%;
	position: relative;
	padding-bottom: 100px;
}

.events-box-price {
	position: relative;
	padding: 25px 0 7px 0;
	background: #eee;
	font-size: 42px;
	color: #555;
	line-height: 54px;
	border-radius: 20px 20px 0 0;
}
.events-box-best .events-box-price {
	background: #32a658;
	color: #fff;
}

.events-box-price span {
	font-size: 18px;
	color: #888;
	line-height: 32px;
}
.events-box-best .events-box-price span {
	color: #fff;
}

.events-box-icon {
	position: absolute;
	top: -32px;
	right: 20px;
	width: 63px;
	height: 63px;
	padding-top: 5px;
	background: #2e9952;
	border: 3px solid #fff;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.events-box-icon span {
	display: block;
	font-size: 40px;
	line-height: 40px;
}

.events-box-icon img {
	height: 41px;
	margin-bottom: 15px;
}

.events-box h3 {
	margin-top: 0;
	margin-bottom: 0;
	padding: 10px 20px;
	background: #eee;
	color: #888;
}
.events-box.events-box-best h3 {
	background: #32a658;
	color: #fff;
}

.events-box h4 {
	margin-top: 0;
	margin-bottom: 2px;
	padding: 10px 20px;
	background: #e8e8e8;
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;
}
.events-box.events-box-best h4 {
	background: #2a8c4b;
	color: #fff;
}

.events-box-features ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.events-box-features li {
	padding: 7px 20px;
	border-bottom: 1px solid #eee;
}

.events-box-sign-up {
	padding: 25px 0;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

.about-us-container {
	padding-bottom: 65px;
}

.about-us-box {
	padding-top: 30px;
	padding-bottom: 15px;
}

.about-us-box .about-us-photo {
	position: relative;
	max-width: 50%;
	margin: 0 auto;
}

.about-us-box .about-us-photo .about-us-role {
	position: absolute;
	bottom: 10px;
	left: 0;
	padding: 3px 5px;
	background: #32a658;
	font-size: 14px;
	color: #fff;
	line-height: 15px;
	text-transform: uppercase;
}

.about-us-box .about-us-social {
	margin-top: 5px;
	font-size: 26px;
	line-height: 26px;
}

.about-us-box .about-us-social a { color: #ddd; }
.about-us-box .about-us-social a:hover, .about-us-box .about-us-social a:focus { color: #32a658; }

footer {
	border-top: 1px solid #ddd;
	padding: 40px 0 35px 0;
}

.footer-social {
	font-size: 50px;
	line-height: 50px;
}

.footer-social a { color: #ddd; }
.footer-social a:hover, .footer-social a:focus { color: #32a658; }

.footer-copyright {
	margin-top: 25px;
}

.g-recaptcha div {
	margin: 0 auto;
}

.nowrap {
	white-space: nowrap;
}

.center {
	display: block !important;
	margin: 0 auto !important;
}

.background {
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	z-index: -999998;
	background-color: #000;
}

.inside-full-height {
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
}

.row-height {
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;
}

.col-height {
	display: table-cell;
	float: none;
	height: 100%;
}

.table {
	text-align: left;
	margin-bottom: 0;
}